{% extends "navbar.html" %}
  {% block content %}
  <p align="center" style="font-size: 40px;font-family: Lobster;color:red;">
    Feel free to browse the menu for {{ rn }} 
</p>

<div align="center">
<table class="" style="width: 30%;">
  {% for entry in menulist %}
    {% if entry.restaurant_name == rn %}
  
  <tr>
    
    <td style="width: 150px;padding-bottom: 1em;">
      <a href="#"><img src="{{ entry.food_pic.url }}" width="150" height="150"></a>
    </td>
    <td>
      <a href="#"><p style="font-size: 25px;color: rgba(0,0,0,.65);text-decoration: underline; text-decoration-color: white;">{{ entry.name}}</p></a>
    </td>
  
  </tr>
{% endif %}
{% endfor %} 
</table>
</div>
 

{% endblock %}